extends layouts/layout-inner
append vars
    - pageTitle = 'Contractor'
block content
    +main-content
        +main-content__head
            +main-content__head-row
                +main-content__title-w
                    +main-content__title ООО "Иванов и партнеры"
                    +main-content__subtitle Контрагент
                +page-controls
                    +button.button_size_s.button_transparent
                        +icon('color-swatch')
                        span Настройка полей
        +main-content__body
            +tabs(items=[{
                title: "Сделки",
                class: "tabs__tab_active"
            }, {
                title: "Заказчики",
                class: ""
            }, {
                title: "Сотрудники",
                class: ""
            }])
                +tabs__content.tabs__content_active
                    +table-view
                        +table
                            +table__head
                                +table__head-row
                                    +table__head-cell Контракт
                                    +table__head-cell Ответственный
                                    +table__head-cell.table__head-cell_width_min Срок поставки
                                    +table__head-cell.table__head-cell_width_min Сумма
                                    +table__head-cell.table__head-cell_width_min Статус
                                    +table__head-cell.table__head-cell_actions
                                        +button.button_no-text.button_size_xs.button_transparent
                                            +icon('cog')
                                        +button.button_no-text.button_size_xs.button_transparent
                                            +icon('filter')

                            +table__body
                                +table__body-row.table__body-row_color_warning
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('fire').icon_size_s.table__cell-item
                                        span 25 сен
                                    +table__body-cell.table__body-cell_one-line
                                        | 25 000 ₽
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text
                                            +icon('trash')
                                +table__body-row.table__body-row_color_warning
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('fire').icon_size_s.table__cell-item
                                        span 25 сен
                                    +table__body-cell.table__body-cell_one-line
                                        | $ 14 000
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text
                                            +icon('trash')
                                +table__body-row
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('calendar').icon_size_s.table__cell-item
                                        span 5 мар 2023
                                    +table__body-cell.table__body-cell_one-line
                                        | $ 14 000
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('trash')
                                +table__body-row.table__body-row_color_error
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('calendar').icon_size_s.table__cell-item
                                        span 5 мар 2023
                                    +table__body-cell.table__body-cell_one-line
                                        | $ 14 000
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text
                                            +icon('trash')
                                +table__body-row
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('calendar').icon_size_s.table__cell-item
                                        span 5 мар 2023
                                    +table__body-cell.table__body-cell_one-line
                                        | $ 14 000
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('trash')
                                +table__body-row
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('calendar').icon_size_s.table__cell-item
                                        span 5 мар 2023
                                    +table__body-cell.table__body-cell_one-line
                                        | $ 14 000
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('trash')
                                +table__body-row
                                    +table__body-cell
                                        a(href='#') 20220612-O-2
                                    +table__body-cell
                                        a(href="#") Иванов И. И. (ip.ivanov@mail.ru)
                                    +table__body-cell.table__body-cell_one-line
                                        +icon('calendar').icon_size_s.table__cell-item
                                        span 5 мар 2023
                                    +table__body-cell.table__body-cell_one-line
                                        | $ 14 000
                                    +table__body-cell
                                        +dropdown-select.dropdown-select_size_s
                                    +table__body-cell.table__body-cell_actions
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('pencil')
                                        +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                            +icon('trash')

                        +pagination
                +tabs__content
                    p здесь должны быть заказчики
                +tabs__content
                    p здесь должны быть сотрудники
    +right-bar
        +entity-fields
            +entity-fields__group
                +dropdown-select(label="Юридическая форма" fixable=true value="ООО (Общество с ограниченной ответственностью)").dropdown-select_fixable
                +textbox(label="Сокращенное название" fixable=true value='ООО "Иванов и партнеры"').textbox_fixable
                +textbox(label="Полное название" fixable=true value='Общество с ограниченной ответственностью "Иванов и партнеры"').textbox_fixable
                +dropdown-select(label="Группа компаний" placeholder="Группа компаний" fixable=true value="").dropdown-select_fixable
            +entity-fields__group
                +textbox(label="Веб-сайт" fixable=true placeholder="https://example.net" value='').textbox_fixable
            +entity-fields__group
                +textbox(label="ИНН" fixable=true placeholder="7700000000" value='').textbox_fixable
                +textbox(label="КПП" fixable=true placeholder="770101001" value='').textbox_fixable_edit
            +entity-fields__group
                +textbox(label="Кастомное поле" fixable=true value="Кастомное значение").textbox_fixable
                +textbox(textarea=true fixable=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк").textbox_fixable
                +textbox(textarea=true fixable=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк").textbox_fixable
                +textbox(textarea=true fixable=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк").textbox_fixable
