include ../common.blocks/**/*.pug
html
    head
        title Draft
        link(rel='stylesheet' type='text/css' href='css/app.css')
    body
        +app
            +utility-container
                +utility-container__header
                    +utility-container__title .button
                +utility-container__body
                    +button Кнопка
                    +button.button_disabled Кнопка отключена
                    +button.button_size_s Малая кнопка
                    +button.button_size_xs Крохотная кнопка
                    +button.button_size_xs.button_disabled Крохотная кнопка отключена
                    +button.button_size_xs.button_transparent Крохотная кнопка отключена
                    +button.button_size_s.button_transparent.button_disabled Крохотная кнопка отключена

                    +button.button_color_secondary Кнопка
                    +button.button_color_secondary.button_disabled Кнопка отключена
                    +button.button_color_secondary.button_transparent Кнопка
                    +button.button_color_secondary.button_transparent.button_disabled Кнопка

                    +button.button_color_neutral-0 Кнопка
                    +button.button_color_neutral-0.button_disabled Кнопка
                    +button.button_color_neutral-0.button_transparent Кнопка
                    +button.button_color_neutral-0.button_transparent.button_disabled Кнопка

                    +button.button_color_neutral-100 Кнопка
                    +button.button_color_neutral-100.button_disabled Кнопка
                    +button.button_color_neutral-100.button_transparent Кнопка
                    +button.button_color_neutral-100.button_transparent.button_disabled Кнопка

                    +button.button_color_secondary.button_size_s Кнопка
                    +button.button_color_secondary.button_disabled.button_size_s Кнопка отключена
                    +button.button_color_secondary.button_transparent.button_size_s Кнопка
                    +button.button_color_secondary.button_transparent.button_disabled.button_size_s Кнопка

                    +button.button_color_neutral-0.button_size_s Кнопка
                    +button.button_color_neutral-0.button_disabled.button_size_s Кнопка
                    +button.button_color_neutral-0.button_transparent.button_size_s Кнопка
                    +button.button_color_neutral-0.button_transparent.button_disabled.button_size_s Кнопка

                    +button.button_color_neutral-100.button_size_s Кнопка
                    +button.button_color_neutral-100.button_disabled.button_size_s Кнопка
                    +button.button_color_neutral-100.button_transparent.button_size_s Кнопка
                    +button.button_color_neutral-100.button_transparent.button_disabled.button_size_s Кнопка

                    +button.button_color_secondary.button_size_xs Кнопка
                    +button.button_color_secondary.button_disabled.button_size_xs Кнопка отключена
                    +button.button_color_secondary.button_transparent.button_size_xs Кнопка
                    +button.button_color_secondary.button_transparent.button_disabled.button_size_xs Кнопка

                    +button.button_color_neutral-0.button_size_xs Кнопка
                    +button.button_color_neutral-0.button_disabled.button_size_xs Кнопка
                    +button.button_color_neutral-0.button_transparent.button_size_xs Кнопка
                    +button.button_color_neutral-0.button_transparent.button_disabled.button_size_xs Кнопка

                    +button.button_color_neutral-100.button_size_xs Кнопка
                    +button.button_color_neutral-100.button_disabled.button_size_xs Кнопка
                    +button.button_color_neutral-100.button_transparent.button_size_xs Кнопка
                    +button.button_color_neutral-100.button_transparent.button_disabled.button_size_xs Кнопка

                    +button
                        +icon('pencil')
                        | Кнопка

                    +button.button_size_s
                        +icon('calendar')
                        | Кнопка

                    +button.button_size_xs
                        +icon('x')
                        | Кнопка

                    +button.button_no-text
                        +icon('calendar')

                    +button.button_no-text.button_rounded
                        +icon('calendar')

                    +button.button_size_s.button_no-text
                        +icon('calendar')

                    +button.button_size_s.button_no-text.button_rounded
                        +icon('calendar')

                    +button.button_size_xs.button_no-text
                        +icon('calendar')

                    +button.button_size_xs.button_no-text.button_rounded.button_color_secondary.button_transparent.button_disabled
                        +icon('calendar')


            +utility-container
                +utility-container__header
                    +utility-container__title .textbox
                +utility-container__body
                    +textbox(label="Название поля")
                    +textbox(label="Пароль" type="password")
                    +textbox(label="Какое-то число" type="number").textbox_error
                    +textbox(label="Просто поле").textbox_success

                    +textbox(label="Название поля" message="Вспомогательный текст с форматом или описанием, чего мы ждем")
                    +textbox(label="Пароль" type="password" message="Вспомогательный текст с форматом или описанием, чего мы ждем")
                    +textbox(label="Какое-то число" type="number" message="Текст ошибки").textbox_error
                    +textbox(label="Просто поле" message="Сохранено").textbox_success

                    +textbox(label="Название поля" fixable=true value="Какое-то там очень-очень-очень длинное значение").textbox_fixable
                    +textbox(label="Название поля" fixable=true value="Какое-то там очень-очень-очень длинное значение").textbox_fixable.textbox_fixable_edit

                    +textbox(label="Название поля" fixable=true message="Вспомогательный текст с форматом или описанием, чего мы ждем").textbox_fixable

                    +textbox(label="Название поля" message="Вспомогательный текст с форматом или описанием, чего мы ждем" textarea=true)


                    +textbox(label="Название поля").textbox_size_s
                    +textbox(label="Пароль" type="password" message="Вспомогательный текст с форматом или описанием, чего мы ждем").textbox_size_s
                    +textbox(label="Какое-то число" type="number" message="Текст ошибки").textbox_error.textbox_size_s
                    +textbox(label="Просто поле" message="Вспомогательный текст с форматом или описанием, чего мы ждем").textbox_success.textbox_size_s


            +utility-container
                +utility-container__header
                    +utility-container__title .dropdown-select
                +utility-container__body
                    +dropdown-select
                    +dropdown-select
                    +dropdown-select(message="Вспомогательный текст")
                    +dropdown-select(message="Вспомогательный текст" value="Введенное значение 1")
                    +dropdown-select(label="Название поля" message="Вспомогательный текст" value="Введенное значение 1").dropdown-select_error
                    +dropdown-select(message="Вспомогательный текст" value="Введенное значение 1").dropdown-select_success

                    +dropdown-select(fixable=true).dropdown-select_fixable
                    +dropdown-select(fixable=true).dropdown-select_fixable_edit

                    +dropdown-select.dropdown-select_size_s
                    +dropdown-select.dropdown-select_size_s.dropdown-select_show-list
                    +dropdown-select(label="Название поля").dropdown-select_size_s


            +utility-container
                +utility-container__header
                    +utility-container__title .
                +utility-container__body

        script(src='js/app.bundle.js')
