extends layouts/layout-inner
append vars
    - pageTitle = 'Users'
block content
    +main-content
        +main-content__head
            +main-content__head-row
                +main-content__title Контактные лица и сотрудники
                +page-controls
                    +button.button_size_s
                        +icon('plus-circle')
                        span Новый пользователь
        +main-content__body
            +named-filter-group
                +named-filter.named-filter_color_error.named-filter_active
                +named-filter(title="Контактные лица клиентов" description="Сотрудники контрагентов, зарегистрированные в системе").named-filter_color_error
                +named-filter(title="Сотрудники" description="Пользователи внутри вашей компании").named-filter_color_error
            +search
            +table-view
                +table
                    +table__head
                        +table__head-row
                            +table__head-cell.table__head-cell_width_min
                            +table__head-cell ФИО
                            +table__head-cell Контрагент
                            +table__head-cell E-mail
                            +table__head-cell Должность
                            +table__head-cell Тип контрагента
                            +table__head-cell.table__head-cell_actions
                                +button.button_no-text.button_size_xs.button_transparent
                                    +icon('cog')
                                +button.button_no-text.button_size_xs.button_transparent
                                    +icon('filter')

                    +table__body
                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                a(href="user.html") Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')



                        +table__body-row
                            +table__body-cell
                                +user-avatar(imageSet=true editable=false).user-avatar_size_s
                            +table__body-cell
                                | Иванов Иван
                            +table__body-cell
                                | ООО "Иванов и партнеры"
                            +table__body-cell
                                a(href="#") noemail@please.com
                            +table__body-cell
                                | Гендиректор
                            +table__body-cell
                                | Заказчик
                            +table__body-cell.table__body-cell_actions
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('pencil')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('trash')
                                +button.button_size_xs.button_rounded.button_no-text.button_transparent
                                    +icon('check-circle')




                +pagination
    +modal.modal_aside
        +modal__main
            +modal__close
                +icon('x')
            +modal__body
                +modal__title Новый пользователь
                +entity-fields
                    +user-avatar(imageSet=false editable=true).user-avatar_size_xl.user-avatar_empty
                    +entity-fields__group
                        +textbox(label="Имя" value="Иванов")
                        +textbox(label="Фамилия" value="Иван")
                        +textbox(label="Отчество" value="Иванович")
                        +entity-fields__row
                            +entity-fields__col
                                +textbox(label="E-mail (логин)" value="noemail@please.com")
                            +entity-fields__col
                                +textbox(label="Телефон" value="+7(123) 456-55-11")
                        +textbox(label="Пароль" type="password" value="qwertyuiop")
                    +linked-fields(hideControls=true).linked-fields_edit
                    +entity-fields__expandable-wrapper
                        +entity-fields__expander
                        +entity-fields__expandable-group
                            +entity-fields__group
                                +textbox(label="Кастомное поле" value="Кастомное значение")
                                +textbox(textarea=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк")
                                +textbox(textarea=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк")
                                +textbox(textarea=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк")
                    +entity-fields__expandable-wrapper.entity-fields__expandable-wrapper_expanded
                        +entity-fields__expander
                        +entity-fields__expandable-group
                            +entity-fields__group
                                +textbox(label="Кастомное поле" value="Кастомное значение")
                                +textbox(textarea=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк")
                                +textbox(textarea=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк")
                                +textbox(textarea=true label="Кастомное поле" value="Кастомное значение гораздо длиннее по своему значению. Возможно даже на несколько строк")

            +modal__footer
                +button.button_transparent Сохранить и закрыть
                +button Сохранить

    +modal
        +modal__main
            +modal__close
                +icon('x')
            +modal__body
                +modal__title Удалить пользователя?
                +modal__description Вы удаляете пользователя Иванов Иван Иванович (ip.ivanov@nomail.com). Вы уверены? После удаления пользователь не сможет войти в систему
            +modal__footer
                +button.button_transparent.button_color_success Удалить
                +button.button_transparent.button_color_error Отменить

